@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&family=Poppins&family=Roboto&family=Source+Sans+Pro&family=Spectral&family=Varela+Round&display=swap'); 

body{
    font-family: 'Source Sans Pro', sans-serif;
   
}

/* Top page  */
.football{
    display: flex;
    background-color: black;
    height: 400px;
    padding: 50px;
    border-radius: 15px;


}
.greatest-show h1{
    font-size: 6vw;
    color: white;
}
.greatest-show p{
    color: white;
}

.greatest-show a{
    text-decoration: none;
    background-color: rgb(190, 72, 190);
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: grab;
}

.player img{
    width: 100%;
    height: 100%; 
    
}


/*  top page button hover and transfrom on arrow    */


.greatest-show:hover a{
    background-color: crimson;
    color: goldenrod;
   
}
 :hover.fa-angle-right{
    transform: rotate(180deg);
}



/* Match schedule box */

.vanue ul{
    list-style:none ;
}

 .vanue a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding:15px; 
    border-radius: 3px;
    cursor: grab;
    
}
    
.today-match{
    padding: 15px;
    font-size: 18px;
    border: 15px solid black;
    text-align: center;
   
   
} 

/* grid area  */

.win-win{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.vanue{
    grid-row: 1/4;
}

/* highlights */
.france-german{
    position: relative;
    width: 250px;
    height:150px ;
    border: 1px solid lightgray;
    padding: 23px; 
    border-radius: 10px;
    text-align: center;
}
 .france-german img{
    position: sticky;
    right: 0;
}

/* Footer part  */
footer{
    height: 200px;
    background-color: black;
    color: white;
    text-align: center; 
    padding: 60px;
    /* margin-top: 40px; */

}
.goal{
    margin-left: 30px;
}

/* Responsive for mobile  */

@media only screen and (max-width:688px) {

  
   .football{
    flex-direction: column;
   } 

   .win-win{
    grid-template-columns: repeat(1,1fr)
   }
  .goal{
    display: flex;
    flex-direction: column;
  }
}

/* Responsive for TAB  */
@media only screen and (min-width:688px) and (max-width:992px) {
     
 .football{
        
        width: 100%;
       } 
     
     .win-win{
         grid-template-columns: repeat(2 1fr); 
            
    }footer{
        width: 100%;
      } 

}